@mixin commonArrowProperty() {
    font-size: 1.8rem;
    font-weight: 600;
    color:rgb(101, 101, 101);
    background-color: transparent !important;
}
.room-card {
    .slick-slider {
      .slick-next:before {
        content: ">";
        @include commonArrowProperty();
      }
      .slick-prev:before {
        content: "<";
        @include commonArrowProperty();
      }
      .slick-prev,
      .slick-next {
        z-index: 1;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      .slick-prev {
        left: 1rem;
      }
      .slick-next {
        right: 1rem;
      }
    }
  }
  .slick-slider {
    .room-image {
      height: 9.063rem;
    }
  }
  .slick-active {
    button::before {
      color: rgb(22, 22, 22) !important;
    }
  }
  .room-card {
    .slick-slider {
      .slick-dots {
        position: absolute;
        bottom: 0;
        li {
          bottom: 0.3rem;
          button::before {
            background-color: transparent;
          }
        }
      }
    }
    .slick-arrow {
      margin-bottom: 2rem !important;
    }

    
}