@import "./sass/Reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.App {
  min-height: 100vh;
  position: relative;
}

.MuiFormHelperText-root {
  font-size: 0.75rem !important;
}

.MuiFormHelperText-root.Mui-error {
  margin: 3px 0 0 0;
  font-size: 0.75rem;
}
